<<<<<<< HEAD
body {
    height: 100vh;
	margin: 0;
    padding: 0;
    position: relative; 
	font-family: 'PT Sans', sans-serif;
}


.nav-wrapper{
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.logo {
	width: 15%;
	
}
.logotype {
	max-width: 120px;
    
    font-weight: 800;
}

.nav-menu {
   font-size: 15px;
   font-weight: 600;
}


.nav-link {
	text-decoration: none;
	color: hsl(0, 0%, 0%);
	font-size: 16px;
	border-bottom: 2px solid transparent;
	transition: .3s;
    margin-right: 30px;
}

.nav-link:hover {
    border-bottom: 2px solid #e01533;
    text-decoration: none;
}

.cart {
    margin-right: 10px;
    position: relative;
   font-size: 18px;
    
    
}


.cart_number{
    width: 19px;
    height: 19px;
    background-color: #f72464;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    left: 5px;
    top: 18px;
}


#home{
    
    height:400px;
    color: #fff; 
    
}



.carousel-item{
    height: 32rem;
    background: #777;
    color: white;
    position: relative;
}



#about {
    padding-top:50px;
    height:1000px;
    text-align: center;
    
}

#shopping {
    padding-top:50px;
   
    
}





.footer{
background: black;
padding: 20px 0 25px;
text-align: center;
}


.footer-nav{
    margin-bottom: 20px;

}

.footer-nav__link{
font-size: 13px;
line-height: 1.6;
color: rgb(255, 255, 255);
text-decoration: none;
margin-right: 35px;
}
.footer-nav__link:last-child{
    margin-right: 0px;
}
.footer-nav__link:hover{

color: #f72464;
text-decoration: none;

}
.footer__social{
margin-bottom: 20px;
color: white;
font-size: 22px;
}

.footer__social a{
    
    color: white;
    text-decoration: none;
    }

.footer__social a:last-child{
    
    
    margin-right: 0px;
        }

.footer__social a:hover{
    color: #f72464;
    text-decoration: none;
        }

.footer__copyright{
color: rgb(137, 137, 137);
font-size: 12px;

}


.title{
    color: #222;
    margin:0;
    margin-top: 60px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
}

.subtitle{
    font-size: 12px;
    color: #919191;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 90px;
}

.description{
=======


.video-header {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 50px;
}
.video-header, .video-header video, .video-header .viewport-header {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 90px;
    left: 0;
}
.video-header video {
    background: brown;
    object-fit: cover;
}
.video-header .viewport-header {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    opacity: var(--headerOpacity);
    transform: scale(var(--headerScale));
}
html, body {
    height: 100vh;
    overflow-x: hidden;
}
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 150%;
    line-height: 1.4;
}
body {
    margin: 0;
}
h1 {
    font-family: 'Syncopate', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3vw;
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;
}
h1 span {
    display: block;
    font-size: 10vw;
    letter-spacing: -1.3vw;
}
main {
    background: white;
    position: relative;
    padding: 1rem;
    margin-top: 100vh;
}
main::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    top: -100vh;
}
main p {
    max-width: 600px;
    margin: 1rem auto;
}

.about{
    margin-bottom: 50px;
  }
  
  .blog__title{
    font-size: 18px;
    color:rgb(34, 34, 34);
    line-height: 1.6;
    font-weight: 600;
  }
  
  .blog__desc{
    font-size: 15px;
    color:rgb(137, 137, 137);
    line-height: 1.6;
  }
  .title{
    padding-top: 30px;
    color: #917F72;
    margin:0;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
  }
  
  .subtitle{
    font-size: 12px;
    color: #917F72;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
  }
  .influence{
      color: #817165;
      margin-bottom: 90px;
      text-align: center;
      font-weight: 600;
      font-family: Impact, Charcoal, sans-serif;
  }
  
  .description{
>>>>>>> 29a346ba4e3f1c44de5424ab260be2c7083d676d
    font-size: 15px;
    color:rgb(137, 137, 137);
    line-height: 1.6;
    text-align: center  ;
    margin-bottom: 10px;
<<<<<<< HEAD


}

.about{
    margin-bottom: 50px;
}

.blog__title{
    font-size: 18px;
    color:rgb(34, 34, 34);
    line-height: 1.6;
    font-weight: 600;
}

.blog__desc{
    font-size: 15px;
    color:rgb(137, 137, 137);
    line-height: 1.6;
}

section
   {
   width:960px;
   height:140px;
   }
   
 .dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {border-bottom: 2px solid #e01533;
    text-decoration: none;
    color: #e01533;}
    
    .cart {
        margin-right: 10px;
        position: relative;
        
        
    }
    
    .cart_number{
        width: 19px;
        height: 19px;
        background-color: #f72464;
        color: white;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        padding-top: 1px;
        position: absolute;
    }
=======
  
  
  }
  /* Add some padding and a pink background color to containers */
.section {
    font-family: "Lucida Console", Courier, monospace;
    padding: 20px;
    background-color: #fcf3ee;
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: rgb(83, 4, 4);
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
  

  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 30px;
  }
  
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title2 {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
>>>>>>> 29a346ba4e3f1c44de5424ab260be2c7083d676d
