body {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative; 
  font-family: 'PT Sans', sans-serif;
}


.nav-wrapper{
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.logo {
    margin-left: 0;
<<<<<<< HEAD
    width: 15%;
    float: left;
=======
    width: 50%;
    float: left;
    padding-top: 0;
>>>>>>> 29a346ba4e3f1c44de5424ab260be2c7083d676d
  
}
.logotype {
  max-width: 120px;
    
    font-weight: 800;
}

.nav-menu {
   font-size: 15px;
   font-weight: 600;
}


.nav-link {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  font-size: 16px;
  border-bottom: 2px solid transparent;
  transition: .3s;
    margin-right: 30px;
}

.nav-link:hover {
    border-bottom: 2px solid #e01533;
    text-decoration: none;
    color: #e01533;
}

.cart {
    margin-right: 10px;
    position: relative;
   
}

.cart_number{
    width: 19px;
    height: 19px;
    background-color: #f72464;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding-top: 1px;
    position: absolute;
}
<<<<<<< HEAD
=======

/* Container needed to position the button. Adjust the width as needed */
.home{
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.home img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.home .btn {
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.home .btn:hover {
  background-color: black;
}
>>>>>>> 29a346ba4e3f1c44de5424ab260be2c7083d676d
/* Slideshow container */
.slideshow-container {
    max-width: 50%;
    position: relative;
    margin: auto;
<<<<<<< HEAD
=======
    top: 90px;
>>>>>>> 29a346ba4e3f1c44de5424ab260be2c7083d676d
  }
   
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
   
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
   
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
   
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
   
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .text-block{
    position: absolute;
    bottom: 70px;
    left: 50px;
    right: 300px;
    background-color: black;
    color: white;
    padding-left: 0;
    padding-right: 0;
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
   
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
   
  .active, .dot:hover {
    background-color: rgb(83, 4, 4);
  }
   
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
   
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
   
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
section
   {
   width:960px;
   height:140px;
   }
   
 .dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
<<<<<<< HEAD
=======
  .dropbtn{
    background-color:transparent;
    margin-right: 30px;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: .3s;
    font-weight: 600;
  }
>>>>>>> 29a346ba4e3f1c44de5424ab260be2c7083d676d
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
<<<<<<< HEAD
    
=======
>>>>>>> 29a346ba4e3f1c44de5424ab260be2c7083d676d
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
<<<<<<< HEAD
    min-width: 110px;
    
=======
    min-width: 160px;
>>>>>>> 29a346ba4e3f1c44de5424ab260be2c7083d676d
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
<<<<<<< HEAD
    padding: 5px 13px;
=======
    padding: 12px 16px;
>>>>>>> 29a346ba4e3f1c44de5424ab260be2c7083d676d
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
<<<<<<< HEAD
  .dropdown:hover .dropdown-content {display: block; }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {border-bottom: 2px solid #e01533;
    
    color: #e01533;}
=======
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #f72464;}
>>>>>>> 29a346ba4e3f1c44de5424ab260be2c7083d676d
footer
 {
  position: relative;
  bottom: 0;
  width: 100%;
  /*height: 0;*/
  text-align: center;
<<<<<<< HEAD
  display: flex;
    
=======
>>>>>>> 29a346ba4e3f1c44de5424ab260be2c7083d676d
 }
 #addcont
 {
 width:960px;
 overflow:hidden;
 }
 .address
 {
 width:375px;
 height:50px;


 }
 .address p
 {
 color:#c4c4c4;
 padding:18px;
 text-align:center;

 }
 .contact
 {
 width:275px;
 height:50px;
 
 }
 .contact p
 {
 color:#c4c4c4;
 text-align:center;
 padding:18px;
 }

 #cprt
 {
 width:970px;
 overflow:hidden;
 }
 #cprt p
 {
 color:#5298ee;
 text-align:center;
 }  
 /* Three columns side by side */
.column {
  float: left;
  width: 15%;
  margin-bottom: 16px;
  padding: 0 8px;
}
 
/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
/* Add some shadows to create a card effect */
<<<<<<< HEAD
.card {
  box-shadow: 0 8px 12px 0 rgba(199, 31, 31, 0.2);
}
 

=======

 
/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}
 
/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
>>>>>>> 29a346ba4e3f1c44de5424ab260be2c7083d676d
 
.title {
  color: grey;
}
 
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
 
.button:hover {
  background-color: rgb(83, 4, 4);
}

body, html {
  height: 100%;
}
 
/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/sale.jpeg");
 
/* Set a specific height */
height: 50%;
 
/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: red;
}
 
/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: red;
}
.button2 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: red;
  background-color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.button2:hover {
  background-color: rgb(83, 4, 4);
}


.swiper-container {
  width: 100%;
  height: 100vh;
<<<<<<< HEAD
  margin-top: 28px;
  
=======
  top: 10px;
>>>>>>> 29a346ba4e3f1c44de5424ab260be2c7083d676d
}

.slide-left{
  float:left;
  background-color: #fff;
  position: relative;
  margin-top: 100px;
  width: 640px;
  height: 100%;
  padding:100px;
  z-index:99;
}

.slide-left h6{
  font-size:28px;
  font-weight: 600;
}
.slide-left h1{
  font-size: 50px;
  font-weight: 700;
  color: #272643;
}

.slide-left p{
  font-size: 16px;
  line-height: 28px;
}
.slide-left a{
  position: relative;
  display: inline-block;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #272643;
  text-decoration: none;
}
.slide-left a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #272643;
  bottom: 0;
}
.slide-right{
  float:left;
  margin-left: -88px;
  width: calc(100%-640px);
}
.swiper-button-prev:after,
.swiper-button-next:after{
  display: none;
}

.swiper-button-prev,
.swiper-button-next{
  top: inherit;
  bottom: 28px;
}

.card{
<<<<<<< HEAD
  margin-top: 20px;
text-align: center;
border-radius: 20px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
min-height: 300px;
=======
text-align: center;
border-radius: 20px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
>>>>>>> 29a346ba4e3f1c44de5424ab260be2c7083d676d

}
.card__image{
  margin-bottom: 20px;

}
.card__title{
  color:#222;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 600;
}
.card__button{
  padding-top: 5px;
  
  font-size: 15px;
  background-color:	#f72464;
  border-radius: 20px;
  height: 35px;
  color:	#fff;
  
  line-height: 1;
  
  transition: all 0.2s ease-in;
  text-align: center;
  
  
}

.card__button:hover{
  background-color: #DA0F4D;
  text-decoration: none;
  color:#fff;
  
  
}
.card__button a {
  text-decoration: none;
  color:#fff;
  outline: none;  
  
  
}
/*
BANNER
*/
.sale-banner{
  margin: 40px 0 ;
  height:150px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.sale-banner::before{
  display: block;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  content: '';
  background: linear-gradient(90deg,rgba(255,208,219,1) 0%, rgba(255,208,219,0) 51%);
}
.sale-banner_title{
  color: darkblue;
  position: relative;
  z-index: 2;
  font-size: 24px;
  margin:40px 0 0 40px;
  font-weight: 700;
  
}
.button-sale{
  position: relative;
  z-index: 2;
  margin: 20px 0 0 40px;
  
}
.button-sale a {
  border: 1px solid black;
  padding: 10px 15px;
}
.button-sale a:hover{
  background-color: darkblue;
  color:#fff;
  text-decoration: none;
}

.sale_number{
  color: darkblue;
  
  font-size: 50px;
  z-index: 2;
  margin-left: 900px;
  margin-top: -70px;
}

/*

FOOTER
*/

.footer{
  background: black;
  padding: 20px 0 25px;
  text-align: center;
  }
  
  
  .footer-nav{
      margin-bottom: 20px;
  
  }
  
  .footer-nav__link{
  font-size: 13px;
  line-height: 1.6;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 35px;
  }
  .footer-nav__link:last-child{
      margin-right: 0px;
  }
  .footer-nav__link:hover{
  
  color: #f72464;
  text-decoration: none;
  
  }
  .footer__social{
  margin-bottom: 20px;
  color: white;
  font-size: 22px;
  }
  
  .footer__social a{
      
      color: white;
      text-decoration: none;
      }
  
  .footer__social a:last-child{
      
      
      margin-right: 0px;
          }
  
  .footer__social a:hover{
      color: #f72464;
      text-decoration: none;
          }
  
  .footer__copyright{
  color: rgb(137, 137, 137);
  font-size: 12px;
  
  }

<<<<<<< HEAD
=======

<<<<<<< HEAD
=======





>>>>>>> 29a346ba4e3f1c44de5424ab260be2c7083d676d
/*

About US

*/

.about{
  margin-bottom: 50px;
}

.blog__title{
  font-size: 18px;
  color:rgb(34, 34, 34);
  line-height: 1.6;
  font-weight: 600;
}

.blog__desc{
  font-size: 15px;
  color:rgb(137, 137, 137);
  line-height: 1.6;
}
.title{
  color: #222;
  margin:0;
  margin-top: 60px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 600;
}

.subtitle{
  font-size: 12px;
  color: #919191;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 90px;
}

.description{
  font-size: 15px;
  color:rgb(137, 137, 137);
  line-height: 1.6;
  text-align: center  ;
  margin-bottom: 10px;


}
<<<<<<< HEAD



/*

Shopping

*/


.row_prod{
  justify-content: space-between;
  margin: 50px auto  100px;
  
}

select{
  border:1px solid #ff523b;
  padding :5px;
}
select:focus{
  outline: none;
}

.col-md-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-md-4 img{
  width: 100%;

}
h4{
  color:#555;
  font-weight: normal;

}
.col-md-4 p {
  font-size: 14px;
}
.col-md-4:hover{
  transform:translateY(-5px)
}




/*

CART
*/

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}
.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}
.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}



=======
>>>>>>> 29a346ba4e3f1c44de5424ab260be2c7083d676d
>>>>>>> e0e3129bdcf36b28799f69d0f4150945daa7b92f
